[submodule "components/ttn-esp32"]
	path = components/ttn-esp32
	url = https://github.com/manuelbl/ttn-esp32.git
[submodule "components/ninux_sensordata_pb"]
	path = components/ninux_sensordata_pb
	url = https://github.com/ninnux/ninux_sensordata_pb.git
